@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap);

.AddButton{
  background-color: rgb(233, 198, 41);
  border-radius: 3px;
  margin-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-family: sans-serif;
}

.Body{
  min-height: 100vh;
  background-color: #202020;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.Board{
  width : 450px;
  height: 450px;
  margin-top: 20px;
  background-color: #a8a4a4;
  /* justify-content: center;
  align-items: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #202020;
}

.BoardInput{
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #202020;
  color: white;
  border: 2px solid white;
}

.Button{
  background-color: rgb(219, 46, 89);
  border-radius: 3px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-family: sans-serif;
  font-weight: 400;
}

.ButtonArea{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 450px;
  height: 100%;
  justify-content: center;
  
}

.Card{
  background-color: rgb(219, 46, 89);
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom : 10px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: sans-serif;
}

.CardContainer {
  width : 500px;
  height: 100%;
  margin-top: 20px;
  background-color: #202020;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  color: #202020;
}

h1{
  font-family: "Lato";
}

h2{
  font-family: "Lato";
  font-weight: 300;
}

.TextBox{
  width : 100%;
  margin-top: 10px;
  height : 10px;
  background-color: #202020;
}

.ValidationBox{
  width : 43%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.Yellow{
  background-color: rgb(255, 187, 0);
  color: black;
}